body {
  margin: 200px;
  background-color:#003300;
  font-family:cursive;
}
header {
  color:green;
  
  background-color:lightgreen;
}
main {
  color:blue;
  
  background-color:lightblue;
}
footer {
  color:orange;
  
  background-color:yellow;
}
